section {
    background-color: #eee;
    padding: 20px;
}

#listBooks {
    min-height: 20px;
    border: 1px solid gray;
}

#listBooks li {
    border-bottom: 1px solid #e0e0e0;
}

#listBooks li p{
    font-family: monospace;
    margin: 0;
}

.task1 textarea{
    font-family: monospace;
    width: 100%;
}

#tree li span{
    cursor: pointer;
}

#tree li span:hover {
    font-weight: bold;
}

#menu {
    display: none;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    width: 15vw;
    background-color: rgba(0, 0, 0, 0.725);
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
}

#menu p {
    padding: 3px;
    font-size: 12px;
    margin: 0;
    color: white;
    cursor: pointer;
}

#menu p:hover {
    background-color: black;
    border-radius: 2px;
}