body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

header {
    height: 10vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 5vw;
    background-color: darkgrey;
    border-radius: 0 0 100px 100px;
    box-shadow: 0px 3px 50px 1px rgb(1, 216, 94);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.reference {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: cadetblue;
}

a:hover .reference {
    background-color: rgb(131, 214, 216);
}

.wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clock {
    position: relative;
    background-color: white;
    border: 10px solid darkcyan;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.clock-hand {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    transform-origin: center top;
    border-radius: 150px;
}

.clock-center {
    border: 8px solid darkgrey;
    border-radius: 50%;
    transform: translate(-8px, -8px);
}

.clock-second {
    height: 40%;
    border: 1px solid black;
    animation: ani-hand 6s linear infinite;
}

.clock-minute {
    height: 30%;
    border: 1.5px solid gray;
    animation: ani-hand 360s steps(60) infinite;
}

.clock-hour {
    height: 25%;
    border: 2px solid darkgrey;
    animation: ani-hand 4320s linear infinite;
}

@keyframes ani-hand {
    0% {transform: translate(-50%, 0) rotate(180deg);}
    100% {transform: translate(-50%, 0) rotate(540deg);}
}

.clock:hover .clock-second{
    animation-duration: 1s;
}

.digital-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(40, 40, 40);
    box-shadow: 0px 0px 50px 1px rgb(1, 216, 94);
    width: 600px;
    height: 200px;
    border-radius: 50px;
}

.numbers {
    font-family: monospace;
    font-weight: bold;
    font-size: 100px;
    width: 53px;
    color: rgb(0, 255, 110);
    overflow: hidden;
}

.digital-hour {

}

.digital-minute-ed {
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
    animation: ani-digital-clock-ed 600s steps(10) infinite;
}

.digital-minute-d {
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
    animation: ani-digital-clock-d 3600s steps(6) infinite;
}

.digital-second-ed{
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
    animation: ani-digital-clock-ed 10s steps(10) infinite;
}

.digital-second-d{
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
    animation: ani-digital-clock-d 60s steps(6) infinite;
}

.digital-split {

}

@keyframes ani-digital-clock-ed {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%); }
}

@keyframes ani-digital-clock-d {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%); }
}