body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

header {
    height: 10vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 5vw;
    background-color: darkgrey;
    border-radius: 0 0 100px 100px;
    box-shadow: 0px 3px 50px 1px rgb(1, 216, 94);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.reference {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: cadetblue;
}

a:hover .reference {
    background-color: rgb(131, 214, 216);
}

.wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clock {
    position: relative;
    background-color: white;
    border: 10px solid darkcyan;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.clock-hand {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    transform-origin: center top;
    border-radius: 150px;
}

.clock-center {
    border: 8px solid darkgrey;
    border-radius: 50%;
    transform: translate(-8px, -8px);
}

.clock-second {
    height: 40%;
    border: 1px solid black;
    animation: ani-hand 6s linear infinite;
}

.clock-minute {
    height: 30%;
    border: 1.5px solid gray;
    animation: ani-hand 360s steps(60) infinite;
}

.clock-hour {
    height: 25%;
    border: 2px solid darkgrey;
    animation: ani-hand 4320s linear infinite;
}

@keyframes ani-hand {
    0% {transform: translate(-50%, 0) rotate(180deg);}
    100% {transform: translate(-50%, 0) rotate(540deg);}
}

.clock:hover .clock-second{
    animation-duration: 1s;
}

.digital-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(40, 40, 40);
    box-shadow: 0px 0px 50px 1px rgb(1, 216, 94);
    width: 600px;
    height: 200px;
    border-radius: 50px;
}

.numbers {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 100px;
    color: rgb(0, 255, 110);
}

.digital-hour {

}

.digital-minute {

}

.digital-second::before {
    content: attr(data-seconds);
    animation: ani-digital-clock 10s linear infinite;
}

.digital-split {

}

@keyframes ani-digital-clock {
    0% {content: "0";}
    10% {content: "1";}
    20% {content: "2";}
    30% {content: "3";}
    40% {content: "4";}
    50% {content: "5";}
    60% {content: "6";}
    70% {content: "7";}
    80% {content: "8";}
    90% {content: "9";}
    100% {content: "0";}
}